$header-height: 5rem;
$menu-height: 4rem;
$menu-width: 6rem;
$btn-size: 4rem;

@mixin menu-item-styles() {
  width: $menu-width;
  height: $menu-height;
  text-align: center;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 0 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.header[data-theme="dark"]{
  --text-hover: #4263eb;
}

.header {
  --text-hover: #364fc7;
  --accent-active: #3b5bdb;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-tertiary);
  transition: all 0.3s ease;

  .left,
  .right {
    margin: 0.5rem;
    width: $btn-size;
    height: $btn-size;
    text-align: center;
    line-height: $btn-size;
    cursor: pointer;
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    height: $menu-height;
    line-height: $menu-height;
    position: relative;

    .menu-list {
      display: flex;
      color: var(--text-primary);
      background-color: var(--bg-tertiary);

      .menu-list-nav {
        @include menu-item-styles();
        z-index: 10;

        &:hover {
          color: var(--text-hover);
        }
      }
    }

    .select-list {
      @include menu-item-styles();
      transition: all 0.5s;
      position: absolute;
      background-color: var(--accent-active);
      top: 0;
      z-index: 1;
    }
  }
}