$menu-height: 5rem;
$sign-size: 4rem;

.menu {
  position: relative;
  height: $menu-height;
  overflow: hidden;

  .menu-list {
    height: $menu-height;
    line-height: $menu-height;
    margin: auto;
    display: flex;
    position: relative;

    .menu-list-nav {
      text-align: center;
      width: 8rem;
      box-sizing: border-box;
      padding: 0 1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      border-radius: 10%;

      &:hover{
        background-color: #f5f5f5e8;
      }
    }

    .after {
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        width: 1px;
        background-color: #ccc;
      }
    }

    .menu-list-bg {
      position: absolute;
      top: 0;
      width: 8rem;
      height: 100%;
      border-radius: 10%;
      background-color: #ccc;
      translate
    }
  }
}